name: Build
on:
  pull_request:
  push:
   branches:
    - master
jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.ref }}
        fetch-depth: 0
    - if: github.ref != 'refs/heads/master'
      run: git branch master origin/master
    - run: npm ci
    - run: npm run lint
    - run: npm run build
    - run: npm run test
    - run: npm run release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        name: Run tests
    - uses: paambaati/codeclimate-action@v2.6.0
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      with:
        coverageCommand: npm run coverage
        coverageLocations: ${{github.workspace}}/coverage/lcov.info:lcov
    - if: github.pull_request && (github.actor == 'dependabot[bot]' || github.actor == 'dependabot-preview[bot]')
      uses: hmarr/auto-approve-action@v2.0.0
      with:
        github-token: "${{ secrets.OWNER_GITHUB_TOKEN }}"
